 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
 }
 /* nav 1 start */
 ul {
    list-style: none;
 }
 
 a {
    text-decoration: none;
 }
 nav {
    background-color: rgb(10, 154, 123);
    width: 800px; 
    height: 100px;
    margin: 0 auto;
 }
/* display Block
width 100 smaller
 */

 nav ul {
   text-align: center;
 }
 nav ul li {
    display:inline-block;
 }



 nav ul li a {
    color: aliceblue;
    font-family:Arial;
    display:inline-block;
    padding: 15px 23px;
    transition: 0.3s;
    position: relative;
    z-index: 10;
 }

 nav ul li a::after{
   content: "";
   width: 0%;
   height: 100%;
   background-color: darkgoldenrod;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   transition: 0.5s;
 }

 nav ul li:hover a::after{
   width: 100%;
 }

 nav ul li:hover a{
   background-color: blueviolet;
 }
/* nav 1 end */

 /* 2nd start nav */
 

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
.nav2 {
   background-color: rgb(121, 201, 10);
   width: 800px; 
   margin: 0 auto;
}
/* display Block
width 100 smaller
*/

.nav2 ul {
  text-align: center;
}
.nav2 ul li {
   display:inline-block;
}



.nav2 ul li a {
   color: aliceblue;
   font-family:Arial;
   display:inline-block;
   padding: 15px 23px;
   transition: 0.3s;
   position: relative;
   z-index: 10;
}

.nav2 ul li a::before{
  content: "";
  width: 100%;
  height: 0%;
  background-color: darkgoldenrod;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

.nav2 ul li:hover a::before{
  height: 100%;
}

.nav2 ul li:hover a{
  background-color: blueviolet;
}
/* 2nd end nav */

/* 3rd start nav */

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
.nav3 {
   background-color: rgb(46, 3, 95);
   width: 800px; 
   margin: 0 auto;
}
/* display Block
width 100 smaller
*/

.nav3 ul {
  text-align: center;
}
.nav3 ul li {
   display:inline-block;
}



.nav3 ul li a {
   color: aliceblue;
   font-family:Arial;
   display:inline-block;
   padding: 15px 23px;
   transition: 0.3s;
   position: relative;
   z-index: 10;
}

.nav3 ul li a::after{
  content: "";
  width: 100%;
  height: 0%;
  background-color: darkgoldenrod;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

.nav3 ul li:hover a::after{
  height: 100%;
}

.nav3 ul li:hover a{
  background-color: blueviolet;
}
/* 3rd end nav */


/* 4th start nav */

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
.nav4 {
   background-color: rgb(167, 10, 94);
   width: 800px; 
   margin: 0 auto;
}
/* display Block
width 100 smaller
*/

.nav4 ul {
  text-align: center;
}
.nav4 ul li {
   display:inline-block;
}



.nav4 ul li a {
   color: aliceblue;
   font-family:Arial;
   display:inline-block;
   padding: 15px 23px;
   transition: 0.3s;
   position: relative;
   z-index: 10;
}

.nav4 ul li a::before{
  content: "";
  width: 0%;
  height: 100%;
  background-color: darkgoldenrod;
  position: absolute;
  bottom: 0;
  top: o;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

.nav4 ul li:hover a::before{
  width: 50%;
}

.nav4 ul li:hover a{
  background-color: blueviolet;
}
/* 4th end nav */